.container {
    height: 100%;
    display: grid;
    place-items: center;
    gap: 1.5rem;
}

/*====== SPINNER ====== */
.wrapper{
    position: relative;
}
.spinners {
    border-radius: 50%;

    width: 100%;
    height: 100%;

    position: absolute;
    inset: 0;

    border-radius: 50%;

    animation: spin 1s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}