@tailwind base;
@tailwind components;
@tailwind utilities;

.fluid{
  @apply max-w-1280 mx-auto my-0 px-[1rem]
}
.fluid:has(.error, .not-found) article{
  @apply flex flex-col gap-[1rem] items-center
}
.overlay{
  @apply w-full min-h-[100vh] absolute top-0 left-0 bg-gradient-to-b from-transparent to-60% to-slate-900
}
.hide-scroll{
  scrollbar-width: 0;
}
.hide-scroll::-webkit-scrollbar{
  display: none;
}
.loader,
.error,
.not-found{
  @apply h-calc flex justify-center items-center
}
:is(.loader, .error, .not-found) h3{
  @apply text-white text-3xl
}
body:has(.loader, .error, .not-found){
  @apply bg-slate-800
}
.showcase{
  @apply flex flex-col gap-14
}
.showcase .overlay{
  @apply absolute top-0 left-0 bg-gradient-to-b from-transparent to-slate-900
}
.btn{
  @apply py-1 px-20 bg-white text-slate-900 text-xl font-semibold rounded-full
}
.hide{
  width: 0 !important;
}
a{
  display: block;
  width: 100%;
  height: 100%;
}
a.go-home{
  @apply text-white/50 underline underline-offset-4 text-center
}
/*====== ANIMATION FOR SHADOWS ====== */
@keyframes slide {
  
}
/*====== SPINNER ====== */
.spinner{
  position: relative;
}
.spinner::after{
  content: '';

  display: block;
  width: 100px;
  height: 100px;

  position: absolute;
  inset: 0;

  border: 3px solid rgba(255, 255, 255, .3);
  border-top-color: #fff;
  border-radius: 50%;

  animation: spin 1s infinite;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}